{% extends 'MpGithubBundle:Default:index.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_row(form.branchName) }}
    </div>

    {{ form_row(form.create) }}
    {{ form_end(form) }}


    {% if form.vars.value.branchName is defined %}
        {% set branch = form.vars.value.branchName|split('|') %}
    {% endif %}

    {% if items is defined %}
        <div class="clearfix"></div>
        <ul class="list-group repo-list">
            {% for item in items %}
                <li class="list-group-item">
                    {% if item.type is defined and item.type == 'blob'  %}
                        <i class="fa fa-file fa-2" aria-hidden="true"></i>
                        <a href="">{{ item.path }}</a>
                        <div class="pull-right">
                            <a href="{{ path('github_update', {'sha': item.sha, 'file': item.path, 'branch': branch.1}) }}"><i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i></a>
                            <a href="{{ path('github_remove', {'sha': item.sha, 'file': item.path, 'branch': branch.1}) }}"><i class="fa fa-times fa-2" aria-hidden="true"></i></a>
                        </div>
                    {% else  %}
                        <i class="fa fa-folder fa-2" aria-hidden="true"></i>
                        <a href="">{{ item.path }}</a>
                        <div class="pull-right">
                            <a href="{{ path('github_update', {'sha': item.sha, 'file': item.path, 'branch': branch.1}) }}"><i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i></a>
                            <a href="{{ path('github_remove', {'sha': item.sha, 'file': item.path, 'branch': branch.1}) }}"><i class="fa fa-times fa-2" aria-hidden="true"></i></a>
                        </div>
                    {% endif  %}
                </li>
            {% endfor  %}
        </ul>
    {% endif %}

{% endblock %}
